.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'Oxanium',
    cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.time_heading {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 100px;
}

.heading {
  display: flex;
  flex-direction: row;

  align-items: center;
}


.st,
.et {
  margin: 10;
}

.wrapper {
  padding: 200px;
}

.plots {

  /* margin-left: auto; */
  background-color: #1e202477;

  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 20;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10px;


  /* border: 2px solid coral; */
  /* box-shadow: ; */
}

@media screen and (max-width: 800px) {
  .plots {
    align-items: center;
    width: 50vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 20;
    /* flex-direction: row; */
  }
}

.plots-area {

  /* margin-left: auto; */
  /* background-color: #1e202477; */

  display: flex;
  flex-direction: row;
  margin-bottom: 20;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll; */
  /* border: 2px solid coral; */
  /* box-shadow: ; */
}

@media screen and (max-width: 800px) {
  .plots-area {
    width: 50vh;
    align-items: center;
    justify-content: center;
    /* width: 50vh; */
    display: flex;
    flex-direction: column;
    margin: auto;
    /* overflow-x: scroll; */
    /* flex-direction: row; */
  }
}





.button {
  margin: 200;
}

.button-33 {
  background-color: #d0f68a;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.46) 0 -25px 18px -14px inset rgba(18, 55, 32, 0.74) 0 2px 4px, rgba(44, 187, 99, 0.433) 0 4px 8px, rgba(78, 223, 134, 0.603) 0 8px 16px, rgba(69, 181, 112, 0.795) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.46) 0 -25px 18px -14px inset, rgba(9, 32, 18, 0.74) 0 2px 4px, rgba(44, 187, 99, 0.433) 0 4px 8px, rgba(78, 223, 134, 0.603) 0 8px 16px, rgba(69, 181, 112, 0.795) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


/* //////////////dropdown */
.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu>li {
  margin: 0;

  background-color: white;
}

.menu>li:hover {
  background-color: lightgray;
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: left;

  background-color: green;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.axischeck {
  height: 20vh;
  width: 40vh;
  background-color: rgb(178, 249, 194);
  color: rgb(11, 14, 17);
  margin: auto;
  margin-bottom: 53vh;

  border: 3px solid green;
  padding: 10px;

}

.title_head {
  font-size: 5vh;
}

/*  */
.Nav {

  /* position: relative; */
  /* width: 100vw; */
  margin-bottom: 20px;
  /* border-bottom: 4px solid #48a303; */
  box-shadow: 0px 4px 4px #7abb01;
  position: fixed;
  animation: fireAnimation 2s infinite;
}

/* @keyframes fireAnimation {
  0% {
    box-shadow: 0 0 0 0 #48a303;
  }
  
  50% {
    box-shadow: 0 0 10px 5px #48a303;
  }
  
  100% {
    box-shadow: 0 0 0 0 #48a303;
  }
} */


.element {
  animation: fireAnimation 2s infinite;
}

.Nav .nav-link {
  margin-right: 10px;
  /* Adjust the spacing as needed */
}

.Navbrand {
  padding-left: 10px;
  /* padding-top: ; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: aquamarine;
  display: flex;
  flex-direction: row;

}

.vsgap {
  margin: px
}

.elements {
  align-items: center;
  justify-content: center;
}

.pad {
  margin-left: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 6vh;
  width: 6vh;
}

.red-letter {
  /* font-size: x-large; */
  font-weight: bold;
  color: #7abb01;
  position: relative;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes slideIn {
  0% {
    top: -30px;
    /* Initial position for 'V' */
  }

  100% {
    top: 0;
    /* Final position for 'V' */
    color: #7abb01;
  }
}

.red-letter.w-letter {
  animation-name: slideInReverse;
}

@keyframes slideInReverse {
  0% {
    bottom: -30px;
    /* Initial position for 'W' */
  }

  100% {
    bottom: 0;
    /* Final position for 'W' */
    color: #7abb01;
  }
}

.me-auto-tags {
  margin-right: 10vh;
}

.plots {
  display: flex;
  flex-direction: row;
}

.footer {
  color: aliceblue;
  padding: 20px;
  background-color: #1e2024;
  box-shadow: 0px -4px 20px #7abb01;
  /* padding-bottom: 0px; */
  /* background-image: url("../public/vw_logo.jpg");
  background-position: 5rem;
  background-repeat: no-repeat; */
  /* background-size: cover; */
}

.letter {
  /* font-size: x-large; */
  /* font-weight: bold; */
  color: #7abb01;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.letter:nth-child(1) {
  animation-delay: 0s;
}

.letter:nth-child(2) {
  animation-delay: 1s;
}

.letter:nth-child(3) {
  animation-delay: 2s;
}



.temp {
  /* font-size: x-large; */
  align-items: center;
  padding: 5px;
  font-weight: bold;
  color: #7abb01;
  position: relative;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes slideIn {
  0% {
    left: -30px;
    /* Initial position for 'V' */
  }

  100% {
    left: 0;
    /* Final position for 'V' */
    color: #7abb01;
  }
}

.temp-in {
  animation-name: slideInReverse;
}

@keyframes slideInReverse {
  0% {
    right: -30px;
    /* Initial position for 'W' */
  }

  100% {
    right: 0;
    /* Final position for 'W' */
    color: #7abb01;
  }
}


.fokat {
  height: 44.7vh;

}

.multiselect {
  margin: 2vh;
}

.subscribe {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width: 800px) {

  .subscribe {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.subscribeparts {
  margin: 5px
}

.subbtn {
  background-color: #c9ff64;
  border: 2px solid #c6ff5c;
  border-radius: 20px;
  margin-top: 32px;
  padding: 5px;
}

.inputtopic {
  /* color: #7abb01; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {

  .inputtopic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.addtopic {
  justify-content: center;
  align-items: center;
  color: #7abb01;
  border: none;
  border-radius: 10px;
}

.search {
  width: 50vh;
}

.add {
  margin: 5px;
  padding: 5px;
}

.add:hover {
  background-color: #7abb01;
  color: white;
}

#resizableDiv {
  width: 200px;
  height: 200px;
  resize: both;
  overflow: auto;
  border: 1px solid #ccc;
}

/* /////////////// */

.splash-screen {
  /* padding: 100px; */
  width: 100%;
  height: 100vh;
  background-color: #1e2024;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-screen .loading-dot {
  font-size: 100px;
  /* margin-top: -80px; */
  position: relative;
  animation: ease-in-out infinite alternate;
  animation-name: run;
  animation-duration: 1.2s;
}

/* //loadinglogo */

.circle {
  height: 40px;
  width: 40px;
  background-color: #7abb01;
  border-radius: 50%;

}

.parallelogram4 {
  width: 40px;
  height: 60px;
  transform: skew(-22deg);
  background: #7abb01;
}

.parallelogram1 {
  width: 40px;
  height: 60px;
  transform: skew(-22deg);
  background: #555;
}

.parallelogram3 {
  width: 4.75px;
  height: 60px;
  transform: skew(-22deg);
  background: #1e2024;
}

.parallelogram2 {
  width: 4.75px;
  height: 60px;
  transform: skew(-22deg);
  background: #1e2024;
}

.parallelogram {
  width: 50px;
  height: 60px;
  transform: skew(-22deg);
  background: #555;
}

.upper,
.lower {
  display: flex;
  display-direction: row;

}

.triangle-down {

  margin-left: 33.5px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 19.5px solid transparent;
  border-top: 44px solid #7abb01
}

.triangle-down1 {

  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 19.5px solid transparent;
  border-top: 44px solid #555;
}

@keyframes run {
  0% {
    padding-top: 20px;
    left: -90px;
    height: 10px;
    /* background-color: #7abb01; */
    color: #7cf669;
  }

  50% {
    height: 10px;
    /* background-color: #7abb01; */
    color: #7cf669;
  }

  100% {
    padding-top: 20px;
    left: 90px;
    height: 10px;
    /* background-color: #7abb01; */
    color: #7cf669;
  }
}